gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/
build/
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
ios/Pods/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
